body{background:#fff;}
.banner{width:100%; height:240px;}
.fullSlide{ width:100%;  position:relative;  height:240px; background:#000; min-width:1200px; }
.fullSlide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;  }
.fullSlide .bd ul{ width:100% !important;  }
.fullSlide .bd li{ width:100% !important;  height:240px; overflow:hidden; text-align:center;  }
.fullSlide .bd li a{ display:block; height:240px; }

.fullSlide .hd{ width:100%;  position:absolute; z-index:999; bottom:0; left:0; height:30px; line-height:30px; text-align:center; }
.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:url("../img/dot-black.png") 0 0; overflow:hidden;
    line-height:9999px; filter:alpha(opacity=40);opacity:0.4;
}
.fullSlide .hd ul .on{ filter:alpha(opacity=100);opacity:1;  }

.fullSlide .prev,
.fullSlide .next{  display:block;  position:absolute; z-index:1; top:50%; margin-top:-30px; left:15%;   width:40px; height:60px; background:url("../img/slider-arrow.png") -126px -137px #000 no-repeat;  cursor:pointer; filter:alpha(opacity=50);opacity:0.5; display:none;  }
.fullSlide .next{ left:auto; right:15%; background-position:-6px -137px; }
/*banner����*/
.sarch_contant{width:1200px;height:40px;margin:10px auto;}
.condition{width:1198px;height:40px; border:1px solid #dedede; font:13px/40px "Microsoft Yahei";color:#333;}
.condition ul{float:left;}
.sp_seach{float:left; margin-left:50px;}
.sp_seach label{vertical-align: middle;}
.condition li{float:left;  border-right:1px solid #dedede;}
.condition li .name_tit01{text-align: center;padding:0 20px; cursor:pointer;}
.condition li .name_tit03 i{display:inline-block;width:12px;height:13px;background:url("../img/xiajiantou01.png") no-repeat center;margin-left:5px; vertical-align: sub;  }
.condition li .name_tit04 i{display:inline-block;width:12px;height:13px;background: url("../img/shangjiantou01.png") no-repeat center;margin-left:5px; vertical-align: sub;}
.condition li .name_tit02{color:#333; background-color:#F3FCFC;}
.sp_seach .sc_text{overflow: hidden;margin-top:4px;  font:13px/13px "Microsoft Yahei"; color:#333;padding-left:10px; float:left;margin-left:20px;}
.sp_seach .sc_text .sp_sctext{height:24px; padding:2px 5px; width:100px;padding-right:40px; background:url("../img/time_tb.jpg") no-repeat 160px center;  border:none; border:1px solid #dedede;margin-left:10px;outline: none;}
.sp_btn{height:32px ;border:1px solid #dedede; background: #f2f2f2; text-align: center; width:50px;float:left; margin-left:10px;margin-top:4px; cursor: pointer; outline: none;}
.sp_seach .location{float:left; font:13px/13px "Microsoft Yahei";}
.sp_seach .location select{padding:0 0px; width:100px;color:#333; border:1px solid #dedede;margin-top:5px; }
/*�����������*/
.shop_list{width:1200px;margin:20px auto;}
.shop_list ul{border-top:1px solid #dedede;}
.shop_list li{ overflow: hidden;padding:15px; clear: both;font:14px/40px "Microsoft Yahei"; color:#333;height:90px; border:1px solid #dedede;border-top:none;}
.shop_list li:hover{background: #f6f6f6;}
.time_location{width:455px; float:left;}
.Starting_point{font-size:18px; background: url("../img/dingwei11.png") no-repeat left 10px;padding-left:20px;padding-bottom: 15px;}
.Starting_point span{display:inline-block; width:77px; background: url("../img/ys_fx_tb.jpg") no-repeat bottom; text-align: center;}
.commodity_name{float:left; width:180px;height:100px; text-align: center; font:18px/90px "Microsoft Yahei";color:#999;}
.unit_price{float:left;width:130px; height:100px;text-align: center; line-height:90px; font-size:18px;font-weight:bold;color:#FF531A;}
.Settlement_offer{float:left;width:270px;line-height:50px;}
.Carrier{width:130px; float:left; text-align: right; }
.Carrier_btn{width:100px; height:34px; text-align: center; background: #FF7E26; margin-top:30px;cursor:pointer;outline: none;
    color:#fff; font-size:18px; font-weight:bold;line-height:38px;; border:none; border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.Carrier_btn:hover{ background: #FF531A;}
.see_more{width:1200px; margin:0 auto; text-align: center;}
.see_btn{width:446px;height:40px;margin:20px auto;display:block; text-align: center; font:14px/40px "Microsoft Yahei";color:#0099cb; border:1px solid #dedede;}
.see_btn:hover{ color:#fff; background: #0099cb;border-color:#0099cb;transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;}