<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>图片总数--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__LAY__css/layui.css" media="all" />
</head>
<body class="winui-window-body">
<form class="layui-form" action="{:url('index/index/addbanner_handle')}" enctype="multipart/form-data" method="post" style="margin-top: 20px;">
	<div class="layui-form-item">
		<label class="layui-form-label">用户名</label>
		<div class="layui-input-block">
			<input type="text" name="username"   lay-verify="required" placeholder="请输入用户|名字母和英文" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<input type="hidden" value="" name="images" id="lay_upload" >
	<div class="layui-form-item">
		<label class="layui-form-label">手机号</label>
		<div class="layui-input-block">
			<input type="text" name="phone"   lay-verify="required" placeholder="手机号" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">用户密码</label>
		<div class="layui-input-block">
			<input type="password" name="password"   lay-verify="required" placeholder="用户密码" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">公司名称</label>
		<div class="layui-input-block">
			<input type="text" name="company"   lay-verify="required" placeholder="公司名称" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">企业法人</label>
		<div class="layui-input-block">
			<input type="text" name="corporation"   lay-verify="required" placeholder="企业法人" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">注册号</label>
		<div class="layui-input-block">
			<input type="number" name="licence"   lay-verify="required" placeholder="注册号" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">成立时间</label>
		<div class="layui-input-block">
			<input type="number" name="establishment"   lay-verify="required" placeholder="成立时间" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">注册资本(万元)</label>
		<div class="layui-input-block">
			<input type="number" name="register_capital"   lay-verify="required" placeholder="注册资本" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">联系人</label>
		<div class="layui-input-block">
			<input type="number" name="contact_name"   lay-verify="required" placeholder="联系人" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">公司电话</label>
		<div class="layui-input-block">
			<input type="number" name="company_phone"   lay-verify="required" placeholder="公司电话" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">公司地址</label>
		<div class="layui-input-block">
			<input type="number" name="company_address"   lay-verify="required" placeholder="公司地址" autocomplete="off" class="layui-input" value="">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label" style="display: block">营业执照</label>
		<div class="site-demo-upload">
			<div class="layui-upload-drag" id="test10">
				<i class="layui-icon"></i>
				<p>点击上传，或将文件拖拽到此处</p>
			</div>
			<img style="width: 300px; height: 135px; display: none;  margin-top: -60px;" src=""/>
		</div>
	</div>



	<div class="layui-form-item">
		<label class="layui-form-label">是否启用</label>
		<div class="layui-input-block">

			<input type="radio" name="status" value="1" title="是" checked>
			<input type="radio" name="status" value="2" title="否" >

		</div>
	</div>


	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>

<script type="text/javascript" src="__LAY__layui.js"></script>
<script type="text/javascript" src="__MANAGE__/js/alluser.js"></script>

</body>
</html>