<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>我的账户</title>
	<link rel="stylesheet" href="__LAY__/css/layui.css" media="all" />
	<style>
		body{background:#FFFFFF !important;font:14px/30px 'Microsoft YaHei','微软雅黑';cursor:auto; padding: 10px 2px 0 10px;}
	</style>
</head>
<body>
<div class="mt10"></div>
<form class="layui-form" action="">
<div class="demoTable" style="padding: 10px;">
	项目编号：
	<div class="layui-inline">
		<input class="layui-input" name="id" id="demoReload" autocomplete="off">
	</div>
	合同类型：
	<div class="layui-input-inline">
		<select name="quiz1">
			<option value="">请选择省</option>
			<option value="1" selected="">可融资合同</option>
			<option value="2">待提报</option>
			<option value="3">全部</option>
			<option value="4">待审核</option>
		</select>
	</div>

	<button class="layui-btn" data-type="reload">搜索</button>
</div>
</form>
<table class="layui-hide" id="table_list" lay-filter="user"></table>
<script type="text/html" id="endtime">
	{{laytpl.toDateString(d.endtime)}}
</script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="__LAY__layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','table','laypage','laytpl'], function(){
        var table = layui.table;
        	$= layui.jquery;
        	laytpl = layui.laytpl;
        laytpl.toDateString=function(timestamp) {
            var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = date.getMinutes() + ':';
            s = date.getSeconds();
            return Y+M+D+h+m+s;
        }
        //方法级渲染
        table.render({
            elem: '#table_list'
            ,url: '/user/index/get_payrec',
            where: {type: '4', pagesize: 4},
            method: 'post'
            ,cols: [[
                {field:'number', title: '融资编号',width:180}
                ,{field:'amount', title: '还款金额(元)', width:150, sort: true}
                ,{field:'interest', title: '还款利息(元)', width:150}
                ,{field:'payers', title: '收款人'}
                ,{field:'endtime', title: '还款时间', sort: true, width:180,toolbar: '#endtime'}
                ,{title: '操作', sort: true, width:120,toolbar: '#barDemo'}
            ]]
            ,id: 'testReload'
            ,page: true,
            done: function(res, curr, count){
                layer.msg("加载完毕....",{time:500});
            },
            text: {
                none: '暂时没有相关数据'
            }
        });

        table.on('tool(user)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.post("/manage/index/delbanner",{id:data.id},function(data){
                        if(data.error_code==0){
                            layer.msg("删除成功",{time:400},function(){
                                obj.del();
                                layer.close(index);
                            });

                        }else{
                            layer.msg("删除失败",{time:400});
                        }
                    })

                });
            }
        });


    })
</script>
</body>
</html>