
<div id="MenuTree" class="menu left_nav_three" style="position:fixed; height: 800px;">
    <div class="newMenu" style="padding-bottom: 10px;">
        <dl>
            <dt class="over_Menu management_money bgcolor" style=" padding-left: 3px">
                河南豫储供应链管理有限公司
            </dt>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"   href="/user/index/show_myfinancing" target="iframe_b" group_key="52">我的融资</a>
            </dd>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"   href="/user/index/show_payrec" target="iframe_b" group_key="52">还款记录</a>
            </dd>

        </dl>
    </div>
    <div class="newMenu" style="padding-bottom: 20px;">
        <dl>
            <dt class="over_Menu management_money bgcolor" style=" padding-left: 3px">
            </dt>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;" class="test"  href="/user/index/show_accrue_financing" target="iframe_b">累计融资</a>
                <span style="position:absolute;top:5;left:90px;">(0)万元</span>
            </dd>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;" class="test"  href="/user/index/show_accrue_payment" target="iframe_b" >累计还款</a>
                <span style="position:absolute;top:5;left:80px;">(0)万元</span>
            </dd>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;" class="test"   href="/user/index/show_accure_interest" target="iframe_b">其中利息</a>
                <span style="position:absolute;top:5;left:80px;">(0)万元</span>
            </dd>
        </dl>
    </div>
    <div class="newMenu" style="padding-bottom: 20px;">
        <dl>
            <dt class="over_Menu management_money">

            </dt>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"   href="/user/index/show_uncleared" target="iframe_b">未结清融资</a>
                <span style="position:absolute;top:5;left:90px;">(0)万元</span>
            </dd>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"   href="/user/index/show_uncleared_interest" target="iframe_b">其中利息</a>
                <span style="position:absolute;top:5;left:80px;">(0)万元</span>
            </dd>

        </dl>
    </div>

    <div class="newMenu" style="padding-bottom: 20px;">
        <dl>
            <dt class="over_Menu management_money">


            </dt>

            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;" href="/user/index/show_apply" target="iframe_b"  group_key="52">当前融资申请</a>
                <span style="position:absolute;top:5;left:100px;">（0）份</span>
            </dd>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"  href="/user/index/contract_inquire" target="iframe_a" group_key="53">拟融资额</a>
                <span style="position:absolute;top:5;left:80px;">(0)万元</span>
            </dd>
        </dl>
    </div>

    <div class="newMenu" style="padding-bottom: 20px;">
        <dl>
            <dt class="over_Menu management_money">

            </dt>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_financeable" target="iframe_b" group_key="53">可融资合同</a>
                <span style="position:absolute;top:5;left:90px;">（0）份</span>
            </dd>

        </dl>
    </div>
    <div class="newMenu" style="padding-bottom: 20px;">
        <dl>
            <dt class="over_Menu management_money">

            </dt>
            <dd style="position:relative; padding-left: 20px;">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_factoring" target="iframe_b" group_key="53">保理合同</a>
                <span style="position:absolute;top:5;left:70px;">（0）份</span>
            </dd>

        </dl>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="__USER__/js/left.js"></script>