
<div id="MenuTree" class="menu left_nav_three" style="position:fixed;">
    <div class="newMenu">
        <dl>
            <dt class="over_Menu management_money bgcolor">
               常用功能
            </dt>
            <dd style="position:relative;">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_financing"  >我的融资</a>
                <span style="position:absolute;top:5;left:100px;">（0）</span>
            </dd>
            <dd style="position:relative;">
                <a style="cursor: pointer;float:left;"  href="/user/index/contract_inquire" target="iframe_a" >合同查询</a>
                <span style="position:absolute;top:5;left:100px;">（0）</span>
            </dd>
            <dd style="position:relative;">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_pay_apply" target="iframe_a" group_key="53">支付申请</a>
                <span style="position:absolute;top:5;left:100px;">（0）</span>
            </dd>
            <dd>
                <a style="cursor: pointer;"  group_key="54">我的物流</a>
            </dd>
            <dd>
                <a style="cursor: pointer;float:left;"  href="/user/index/show_pay_verify" target="iframe_a" group_key="53">支付审核</a>
            </dd>
        </dl>
    </div>
    <div class="newMenu">
        <dl>
            <dt class="over_Menu management_money">
                招标管理
            </dt>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;" href="/user/index/show_mytender"  target="iframe_a">我的招标</a>
                <span style="position:absolute;top:5;left:100px;">（0）</span>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  group_key="52">我的投标</a>
                <span style="position:absolute;top:5;left:100px;">（0）</span>
            </dd>


        </dl>
    </div>

    <div class="newMenu">
        <dl>
            <dt class="over_Menu management_money">
                合同管理
            </dt>

            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;" href="/user/index/show_contract_list"  target="iframe_a"  group_key="52">合同签署</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/contract_inquire" target="iframe_a" group_key="53">合同查询</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_log_book" target="iframe_a" group_key="53">交收台账</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_settlementlog" target="iframe_a" group_key="53">结算台账</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;"  group_key="55">结算确认</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;"  group_key="55">合同模板</a>
            </dd>
        </dl>
    </div>

    <div class="newMenu">
        <dl>
            <dt class="over_Menu management_money">
                支付中心
            </dt>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_pay_apply" target="iframe_a" group_key="53">支付申请</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_pay_verify" target="iframe_a" group_key="53">支付审核</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_receivable" target="iframe_a" group_key="53">收款确认</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_paymentlist" target="iframe_a" group_key="53">收支列表</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;"  group_key="55">资金管理</a>
            </dd>
        </dl>
    </div>
    <div class="newMenu">
        <dl>
            <dt class="over_Menu operator_management">
                账户中心
            </dt>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;float:left;"  href="/user/index/show_account" target="iframe_a" group_key="53">账户认证</a>
            </dd>

            <dd style="position:relative; display: none">
                <a style="cursor: pointer;"  group_key="62">交易操作员</a>
            </dd>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;" group_key="63">操作员角色</a>
            </dd>
        </dl>
    </div>
    <div class="newMenu">
        <dl>
            <dt class="over_Menu management_money">
                供应链金融
            </dt>
            <dd style="position:relative; display: none">
                <a style="cursor: pointer;" href="/user/index/show_financing"   group_key="71">我的融资</a>
            </dd>
        </dl>
    </div>
    <!--获取动态菜单-->
</div>

