<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>我的账户</title>
	<link rel="stylesheet" href="__LAY__/css/layui.css" media="all" />
	<style>
		body{background:#FFFFFF !important;font:14px/30px 'Microsoft YaHei','微软雅黑';cursor:auto; padding: 10px 2px 0 10px;}
	</style>
</head>
<style>
	td .layui-table-cell{height:40px;line-height:40px;}
	td .layui-table-cell p{height:20px;line-height:20px;}
</style>
<body>
<div class="mt10"></div>
<form class="layui-form" action="javascript:">
	<div class="layui-form-item">
		<label class="layui-form-label">上传标书</label>
		<div class="layui-upload layui-input-block">
			<button style="float: left" type="button" class="layui-btn layui-btn-normal" id="addfile">选择文件</button>
			<button style="float: left; margin-left: 10px;" type="button" class="layui-btn" id="upfile">开始上传</button>
			<div class="layui-form-mid layui-word-aux upstatus" style="color:red !important; margin-left: 10px; display:none;">已上传</div>
		</div>
	</div>
	<input type="hidden" value="" name="fileurl" lay-verify="file">
	<div class="layui-form-item">
		<label class="layui-form-label">招标描述</label>
		<div class="layui-input-block">
			<input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="招标描述" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">开始日期</label>
		<div class="layui-input-inline">
			<input type="text" name="starttime" id="starttime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">截止日期</label>
		<div class="layui-input-inline">
			<input type="text" name="endtime" id="endtime" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">开标方式</label>
		<div class="layui-input-inline">
			<select name="kbfs">
				<option value="">请选择省</option>
				<option value="1" selected="">线下</option>
				<option value="2">线上</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">招标方式</label>
		<div class="layui-input-inline">
			<select name="zbfs">
				<option value="">请选择省</option>
				<option value="1" selected="">公开招标</option>
				<option value="2">邀请招标</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">采购方式</label>
		<div class="layui-input-inline">
			<select name="cgfs">
				<option value="">请选择省</option>
				<option value="1" selected="">公开比价</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">交货期</label>
		<div class="layui-input-inline">
			<input type="text" name="delivery" id="date3" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">开标地点</label>
		<div class="layui-input-block">
			<input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="开标地点" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">文章内容</label>
		<div class="layui-input-block">
			<script id="editor" type="text/plain" class="layui-form-item"></script>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
		</div>
	</div>
</form>


<script src="__LAY__layui.js"></script>
<script type="text/javascript" charset="utf-8" src="__UE__ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__UE__ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__UE__lang/zh-cn/zh-cn.js"></script>
<script>
    layui.use(['form', 'layedit','element', 'laydate','table','laypage','upload'], function(){
        var table = layui.table;
         form = layui.form,
        $= layui.jquery;
    	element = layui.element
    	,laydate = layui.laydate
    	,upload = layui.upload;
        var ue = UE.getEditor('editor',{initialFrameWidth:"90.8%",initialFrameHeight:300});
        form.verify({
            file: function(value){
				if(value.length==0){
                    return '请先上传标书文件';
				}
            }
        });
        laydate.render({
            elem: '#starttime'
        });
        laydate.render({
            elem: '#endtime'
        });
        laydate.render({
            elem: '#date3'
        });
        upload.render({
            elem: '#addfile'
            ,url: '/user/index/addfile'
            ,accept:'file'
            ,auto: false
            ,bindAction: '#upfile'
            ,done: function(res){
                if(res.error_code==0){
                    layer.msg('上传成功',{time:1000,icon:6},function(){
                        $(".upstatus").show();
                        $("[name='fileurl']").val(res.data);
					});

				}else{
                    layer.msg(res.data);
				}
            }
        });


        form.on('submit(demo1)', function(data){
			$.post("/user/index/addtender",data.field,function(e){
			    if(e.error_code==0){
			        layer.msg("操作成功",{time:1000,icon:6},function(){
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);  // 关闭layer
					});
				}else{
                    layer.msg("操作失败");
				}
			})
            return false;
        });
        //方法级渲染
        table.render({
            elem: '#table_list'
            ,url: '/user/index/mytender_list',
            where: {type: '4', pagesize: 4},
            method: 'post'
            ,cols: [[
                {field:'id', title: 'id',width:50, sort: true}
                ,{field:'starttime_text', title: '发布日期'}
                ,{field:'number', title: '招标编号',width:150}
                ,{field:'title', title: '项目名称',width:150}
                ,{field:'address', title: '项目地址', sort: true, width:150}
                ,{field:'endtime_text', title: '开标时间', width:120}
                ,{field:'status_text', title: '当前状态', width:120}
                ,{field:'status_text', title: '操作', width:120,toolbar:'#barDemo'}
            ]]
            ,id: 'testReload'
            ,page: true,
            done: function(res, curr, count){
                layer.msg("加载完毕....",{time:300});
            },
            text: {
                none: '暂时没有相关数据'
            }
        });



    }).define(function(exports){
        exports('addtender', function(){
            layer.open({
                type: 2,
                title: 'layer mobile页',
                shadeClose: true,
                shade: 0.8,
                area: ['380px', '90%'],
                content: 'mobile/' //iframe的url
            });
        });
    });
</script>
</body>
</html>