<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章添加</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__LAY__css/layui.css" media="all" />
	<link rel="stylesheet" type="text/css" href="__MANAGE__/ztree/css/demo.css">
	<link rel="stylesheet" type="text/css" href="__MANAGE__/ztree/css/zTreeStyle/zTreeStyle.css">
	<script type="text/javascript" src="__MANAGE__/ztree/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="__MANAGE__/ztree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="__MANAGE__/ztree/js/jquery.ztree.excheck-3.5.js"></script>
	<script type="text/javascript">
		<!--
		var setting = {
			check: {
				enable: true,
				chkStyle: "checkbox",
				chkboxType: { "Y": "s", "N": "ps" }
			},
			data: {
				simpleData: {
					enable: true
				}
			}
		};
		
		$.post("/manage/admin_contorller/groupList",{id:0},function(data){
			var  ListG=data.data;
			var jsonList = eval('('+ListG+')');
			var zNodes=jsonList;
			$(document).ready(function(){
				$.fn.zTree.init($("#treeMultiple"), setting, zNodes);
			});
		});
		
		
		//-->
	</script>

</head>
<body class="childrenBody" style="margin-top: 2em">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">分组标题</label>
			<div class="layui-input-block">
				<input type="text" name="title" class="layui-input newsName" lay-verify="required" placeholder="请输入分标题">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">分组权限</label>
				<div class="content_wrap" style="text-align: center;">
					<div class="zTreeDemoBackground left">
						<ul id="treeMultiple" class="ztree" style="height: 300px; width:150px; overflow-y: auto"></ul>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addNews">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="__LAY__layui.js"></script>
	<script type="text/javascript" src="__MANAGE__/js/addgroup.js"></script>
</body>
</html>