
.site-doc-icon li {
    display: inline-block;
    vertical-align: middle;
    width: 127px;
    line-height: 25px;
    padding: 20px 0;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    text-align: center;
    color: #666;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.site-doc-icon li .layui-icon {
    display: inline-block;
    font-size: 30px;
}