/*.flowstep { margin: 12px auto 10px; padding: 0 }
.flowstep .step-time { color: #999; margin-top: 10px }
.with-sub-step .step-time-wraper { width: 80px; margin: 0 auto; display: inline-block; *display:inline;
zoom: 1 }
.flowstep .flowstep-5 .step-time .time-first { padding-right: 0 }
.flowstep .step-no,.flowstep .step-no1,.flowstep .step-sub-box .step-sub { background: url(../img/jiaoshoujia.png) no-repeat 50% -102px }
.flowstep { width: 800px; margin: 0 auto; padding: 20px 0; overflow:hidden;}
.flowstep ol { overflow: hidden; zoom: 1 }
.flowstep li { float: left; text-align: center }
.flowstep .step-name { padding: 3px 0; font-weight: 700; color: #888 }
.flowstep .step-no { height: 34px; line-height: 34px; font-family: 'arial black'; color: #fff; font-size: 18px }
.flowstep .step-no1 { height: 34px; line-height: 34px; font-family: 'arial black'; color: #fff; font-size: 18px }
.flowstep .step-last .step-no { background-position: 50% -136px }
.flowstep .step-last .step-no1 { background-position: 50% -136px }
.flowstep .step-time { color: #999; padding: 8px 0 }
.flowstep .step-time .time-first, .flowstep .step-time .time-last { display: inline-block; *display:inline;
*zoom:1
}
.flowstep .step-time .time-first { padding-right: 25px }
.flowstep .step-time .time-last { padding-left: 25px }
.flowstep .step-cur .step-name { color: #888; }
.flowstep .step-cur .step-no { background-position: 50% 0 }
.flowstep .step-cur .step-no1 { background-position: 50% 0 }
.flowstep .step-first .step-cur .step-no { background-position: 50% -34px }
.flowstep .step-first .step-cur .step-no1 { background-position: 50% -34px }
.flowstep .step-last .step-cur .step-no { background-position: 50% -68px }
.flowstep .step-last .step-cur .step-no1 { background-position: 50% -236px }
.flowstep .step-done .step-no { background-position: 50% -170px }
.flowstep .step-done .step-no1 { background-position: 50% -170px }
.flowstep .step-done1 .step-no { background-position: 50% 0px }
.flowstep .step-done1 .step-no1 { background-position: 50% 0px }
.flowstep .step-first .step-done .step-no { background-position: 50% -202px }
.flowstep .step-first .step-done .step-no1 { background-position: 50% -202px }
.flowstep .step-sub { position: relative; margin: 0 auto; width: 120px; height: 34px }
.flowstep .step-sub-box .step-sub-done { background-position: 50% -238px }
.flowstep .step-sub-box .step-sub-none { background-position: 50% -272px }
.flowstep .step-sub-box .step-sub-half { background-position: 50% -306px }
.flowstep .step-sub .sub-first, .flowstep .step-sub .sub-last { position: absolute; top: 11px; font-weight: 700; color: #888; white-space: nowrap }
.flowstep .step-sub .sub-first { right: 120px; text-align: right }
.flowstep .step-sub .sub-last { left: 120px }
.flowstep-5 {width: 870px }
.flowstep-5 li { width:30%;}
.flowstep-5 .fbzb{width:250px;}
.flowstep-4 { margin-left: -63px; width: 1120px }
.flowstep-4 li { width: 280px}*/

.chart_ruwei{width:1200px;padding-top:30px;margin:10px auto;clear:both;}
.chart_ruwei .title{font:bold 14px/25px "微软雅黑"; text-align:left;}
.chart_ruwei .con{padding:20px; position:relative;width:960px;height:340px;}
.chart_ruwei .con canvas{border-left:1px #ccc solid;border-bottom:1px #ccc solid;}
.chart_ruwei .con .bdprice{width:20px;height:120px; position:absolute; top:100px; left:0;}
.chart_ruwei .con .bdprice{width:20px;height:120px; position:absolute; top:100px; left:0;}
.chart_ruwei .con .tbsx{width:120px;height:20px; position:absolute; left:450px; bottom:40;}
.chart_ruwei .con .paiwei{width:100%;height:20px; position:absolute; left:25px; bottom:30px;}

.zhaotoub{width:1200px;margin:auto;}
.zhaotoub .title{height:40px;font:800 14px/40px "微软雅黑"; text-align:left; padding-left:10px;}
.zhaotoub .con{background:#D9D9D9;padding:10px; padding-top:0;}
.zhaotoub .con th{height:30px; text-align:center;font:800 14px/40px "微软雅黑"; }
.zhaotoub .con .zhaotoub_left li{display:block; border-bottom:1px #fff solid;font:12px/40px Verdana,"微软雅黑";padding-left:10px;}
.zhaotoub .con .zhaotoub_left .tab{background:#fff; font-weight:bold;}
.zhaotoub .con .zhaotoub_right table{}
.zhaotoub .con .zhaotoub_right .bdc{height:40px;border-bottom:1px #D4D4D4 dashed;font:12px/40px Verdana,"微软雅黑";padding-left:10px;}
.dbtjc{width:98%; margin:10px auto;}
.dbtjc .tongji{float:left;font:800 12px/40px "微软雅黑"; }
.dbtjc .pg_mum{ border:1px #ccc solid; width:338px; float:right;border-radius:5px;}
.dbtjc .pg_mum a{display:inline-block;width:26px;height:25px;font:12px/25px Verdana, "微软雅黑"; border-right:1px #ccc solid; text-align:center;}
.dbtjc .pg_mum a:hover{background:#F5F5F5;}
.dbtjc .pg_mum .tab{background:#F5F5F5;}


/*流程新样式*/
.liucheng{height:100px;padding:50px 0 10px 0; width:1200px;margin:0 auto; background:#fff; position:relative;}
.lcx_01{height:2px; width:800px; background:#dedede;position:absolute; top:65px; left:200px; }
.liuc_tb{height:70px; overflow:hidden; position:relative;  z-index:20;}
.liuc_tb li{ width:33.33%; text-align:center;float:left;}
.liuc_tb li .step-no_s{ display:inline-block; height:32px; width:32px; background:url(../bid/img/huise_liuc.png) no-repeat center;}
.liuc_tb li .step-name_s{font:14px/30px "Microsoft Yahei"; text-align:center;}
.liuc_tb li .step-cur .step-no_s{ background:url(../bid/img/orange_liuc.png) center center;}
/*01*/
.lcx_02{height:2px; width:960px; background:#dedede;position:absolute; top:65px; left:120px;}
.flowstep-5 .flowstep-z{height:100px; overflow:hidden; position:relative;  z-index:20;}
.flowstep-5 .flowstep-z li{width:20%; text-align:center;float:left;}
.flowstep-5 .flowstep-z li .step-no{display:inline-block; height:32px; width:32px; background:url(../bid/img/huise_liuc.png) no-repeat center;}
.flowstep-5 .flowstep-z li .step-name{font:14px/30px "Microsoft Yahei"; text-align:center;}
.flowstep-5 .flowstep-z li .step-cur a .step-no{display:inline-block; height:32px; width:32px;  background:url(../bid/img/konbai_tb.png) center center;}
.flowstep-5 .flowstep-z li .step-done a .step-no{display:inline-block; height:32px; width:32px;background:url(../bid/img/orange_liuc.png) center center;}
.lcx_03{height:2px; width:1020px; background:#dedede;position:absolute; top:65px; left:90px; z-index:0;}
.flowstep-5 .flowstep-t{height:100px; overflow:hidden; position:relative;z-index:30;}
.flowstep-5 .flowstep-t li{width:14.2857%; text-align:center;float:left;}



.xmbb_content01{border-bottom:1px solid #dedede;}
.xm_tit01{height:40px; background:#efefef; padding-left:10px; font:bold 14px/40px "Microsoft Yahei";color:#333;}
.xm_cont01{width:230.5px; height:86px;float:left;overflow:hidden;font:12px/24px "宋体";color:#333;border-right:1px solid #dedede; border-bottom:1px solid #dedede;}

.xm_cont01 .img_b02{width:90px; height:86px;float:left;  background:url(../images/Ysb02.png) no-repeat center;}
.xm_cont01 .img_b03{width:90px; height:86px;float:left;  background:url(../images/Ysb03.png) no-repeat center;}
.xm_cont01 .b_xont02{width:140px;float:left;margin-top:8px; }
.xm_cont01 .b_xont02 h1{font-weight:bold;}
.xm_cont01 .b_xont02 p{color:#666;}
.xm_cont01 .b_xont02 p .Ntb01{color:#8DC63F;margin-right:10px;}
.xm_cont01 .b_xont02 p .Stb01{color:#ff6600;}
.xm_cont01 .b_xont02 .pbwj_dow a{color:#0099cb;}

.tan_h001{font:bold 20px/40px 'Microsoft Yahei'; color:#000; width:100%; text-align:center;padding:10px 0;background:url(../bid/img/tabhao01.jpg) no-repeat 300px center;}
.tan_h001 font{color:#ff0000;}
