
<!--楼层开始-->
<div class="floor_c" id="skipfloor" style="display: none;">
	<div class="menu">
		<ul class="navigation">
			<li><a data-slide="1" onclick="gotofloor(this);" href="javascript:void(0)" class="sel">1F<span>求购专区</span></a></li>
			<li><a data-slide="2" onclick="gotofloor(this);" href="javascript:void(0)" class="">2F<span>阳光采购</span></a></li>
			<li><a data-slide="3" onclick="gotofloor(this);" href="javascript:void(0)" class="">3F<span>金融服务</span></a></li>
			<li><a data-slide="4" onclick="gotofloor(this);" href="javascript:void(0)" class="">4F<span>煤炭商城</span></a></li>
			<li><a data-slide="5" onclick="gotofloor(this);" href="javascript:void(0)">5F<span>行业资讯</span></a></li>
		</ul>
	</div>
	<div class="service_phone">
		<span><a href="tencent://message/?uin=3502134252&amp;Site=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D&amp;Menu=yes" target="blank">3502134252</a></span>
	</div>
	<div class="downbo" onclick="gotop();" href="javascript:void(0);"></div>
</div>
<!--楼层结束-->
<!--foot-->
<div class="foot" id="PaperSheet" name="PaperSheet">
	<!--foot 底部导航-->
	<div class="foot">
		<div class="foot_nav">
			<div class="guidance nav_kstd1">
				交易指南
				<a href="/index/index/showsitemap?id=1">交易流程</a>
				<a href="/index/index/showsitemap?id=2">如何签订合同</a>
				<a href="/index/index/showsitemap?id=3">如何进行交收</a>
				<a href="/index/index/showsitemap?id=4">如何进行结算</a>
				<a href="/index/index/showsitemap?id=6">如何进行支付</a>
			</div>
			<div class="guidance nav_kstd2">
				新手上路
				<a href="/index/index/showsitemap?id=7">注册指引</a>
				<a href="/index/index/showsitemap?id=8">会员注册/登录</a>
				<a href="/index/index/showsitemap?id=9">如何成为认证会员</a>
				<a href="/index/index/showsitemap?id=10">忘记密码</a>
				<a href="/index/index/showsitemap?id=11">会员等级及服务范围</a>
			</div>
			<div class="guidance nav_kstd3" style="width:140px;">
				常见问题
				<a href="/index/index/showsitemap?id=12">电子钥匙用户使用指南</a>
				<a href="/index/index/showsitemap?id=13">创建子账号与CA绑定</a>
				<a href="#">办理出金及电子回单</a>
				<a href="/index/index/showsitemap?id=14">如何进行投标</a>
				<a href="/index/index/showsitemap?id=15">登录常见问题</a>
			</div>
			<style type="text/css">
				.kufw{width:140px;margin-right:0;}
				.kufw a{display:block;}
				.kufw span{color:#ccc;font:14px/30px "微软雅黑";}
				.kufw i{display:block; color:#0099CB;font-size:16px; font-weight:bold;}

			</style>
			<div class="guidance nav_kstd4 kufw">
				关于我们
				<a href="/index/index/showsitemap?id=16" target="blank">豫储交易</a>
				<a href="tencent://message/?uin=888888&amp;Site=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D&amp;Menu=yes" target="blank">在线客服</a>
				<span>热线电话<i>17737173797</i></span>
			</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="copyright pr" id="copyright" name="copyright">
		<p>河南豫储供应链管理有限公司 Copyright© 2017-2019豫ICP备15013929-2号</p>
		<p>全国咨询电话：0371-55000255</p>
		<p>地址：郑州市金水路125号</p>
		<div class="erweima"></div>
	</div>
</div>
