<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>豫煤交易</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="描述" />
	<meta name="keywords" content="关键字" />
	<link href="__CSS__/base.css" rel="stylesheet" type="text/css" />
	<link href="__CSS__/main_index_new.css" rel="stylesheet" type="text/css" />
	<link href="__CSS__/index_new.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="__LAY__/css/layui.css"  media="all">
	<link type="text/css" href="__CSS__/dlgpop.css" rel="stylesheet" />
	<script type="text/javascript">
        var rootPath = "";

	</script>
	<style>
		.right_r a i{width:15px; height:15px; margin-right:5px; vertical-align: middle;}
		.right_r label a{color:#16cbc0!important;font:14px/30px 'Microsoft YaHei','微软雅黑';cursor:auto;}
	</style>
</head>
<body data-page="">
{include file="index/header"; title=""; keywords="1212" /}
<!--banner开始 -->

<!--banner结束 -->

<div id="PaperPulp">
	<!--数据统计开始-->

	<!--数据统计结束-->
	<!--floor1开始-->
	<div class="floor floor_first jumbotron" data-slide="1">
		<!--求购专区开始-->
		<div class="left_are buying_area">
			<div class="title">
				求购专区
				<span><a href="http://e.hncitc.com/demandIndex.do">求购大厅&gt;&gt;</a></span>
			</div>
			<div class="con">
				<table class="tab_tit" width="100%" border="0">
					<tbody>
					<tr>
						<th width="80">煤 种</th>
						<th width="100">品 种</th>
						<th width="100">需求量（吨）</th>
						<th width="120">交货时间</th>
						<th width="160">交货地点</th>
						<th width="120">发布时间</th>
						<th width="88">操 作</th>
					</tr>
					</tbody>
				</table>
				<div id="A1" style="height: 246px;">
					<div id="A2">
						<table width="100%" border="0" class="tab_con">
							<tbody>
							<tr>
								<td width="80">动力煤</td>
								<td width="100"> 经济煤种 </td>
								<!-- <td width="100"><font>5000</font></td> -->
								<td width="100"><font>5000</font></td>
								<td width="120"> -- </td>
								<td width="160"> 河南省 鹤壁市 </td>
								<td width="120">2018-01-16</td>
								<td width="88"> <a href="http://e.hncitc.com/demandIndex!demandBeforeDetailUI.do?key=2">报价</a>
									<!--

                                                        <a href="/login!showLogin.do">报价</a>
                                                    --> </td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--求购专区结束-->
		<!--成交记录开始-->

	</div>
	<!--floor1结束-->
	<!--floor2开始-->



</div>
<!--交易流程开始-->


<!--楼层结束-->
<!--foot-->
<link href="./index_files/main_index.css" rel="stylesheet" type="text/css" />
<div class="foot" id="PaperSheet" name="PaperSheet">
	<!--foot 底部导航-->
	<div class="foot">
		<div class="foot_nav">
			<div class="guidance nav_kstd1">
				交易指南
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=10">交易流程</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=9">如何签订合同</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=94">如何进行煤炭交收</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=60">如何进行结算</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=95">如何进行煤款支付</a>
			</div>
			<div class="guidance nav_kstd2">
				新手上路
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=98">注册指引</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=14">会员注册/登录</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=96">如何成为认证会员</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=16">忘记密码</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=15">会员等级及服务范围</a>
			</div>
			<div class="guidance nav_kstd3" style="width:140px;">
				常见问题
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=100">电子钥匙用户使用指南</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=99">创建子账号与CA绑定</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=101">办理出金及电子回单</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=102">如何进行投标</a>
				<a href="http://e.hncitc.com/siteImsNews!newsnav.do?code=110">登录常见问题</a>
			</div>
			<style type="text/css">
				.kufw{width:140px;margin-right:0;}
				.kufw a{display:block;}
				.kufw span{color:#ccc;font:14px/30px "微软雅黑";}
				.kufw i{display:block; color:#0099CB;font-size:16px; font-weight:bold;}

			</style>
			<div class="guidance nav_kstd4 kufw">
				关于我们
				<a href="http://e.hncitc.com/siteImsNews!newsintro.do?code=20" target="blank">豫煤交易</a>
				<a href="tencent://message/?uin=3502134252&amp;Site=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D&amp;Menu=yes" target="blank">在线客服</a>
				<span>热线电话<i>400-900-9965</i></span>
			</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="copyright pr" id="copyright" name="copyright">
		<p>Copyright 2016-2018 All Rights Reserved 版权所有：河南煤炭储配交易中心有限公司 备案号：豫15034775号</p>
		<p>全国咨询电话：4009009965 Email:hnctccl@sina.com</p>
		<p>地址：郑州市郑东新区商鼎路与和顺街交叉口广地和顺中心B座21A</p>
		<div class="erweima"></div>
	</div>
</div>

</body>
</html>
<script src="__LAY__/layui.js" charset="utf-8"></script>
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form
    		,layer = layui.layer
        	$ = layui.$;

        carousel.render({
            elem: '#banner'
            ,width: '1903px'
            ,height: '338px'
            ,interval: 4000
        });

        form.on('submit(demo1)', function(data){
           if(!data.field.username){layer.msg('对不起，您的用户名不能为空！！！！', {time: 1500, icon:5,anim:1,shade: 0.4,});return false}
           if(!data.field.userpwd){layer.msg('对不起，您的密码不能为空！！！！', {time: 1500, icon:5,anim: 1,shade: 0.4,});return false}
           if(!data.field.captcha){layer.msg('对不起，您的验证码不能为空', {time: 1500, icon:5,anim: 1,shade: 0.4,});return false}
			$.post("index/login/login",data.field,function(e){
				if(e.error_code==0){
                    layer.msg(e.msg, {time: 1500, icon:6,shade: 0.4},function(){
                        window.location.href="/user/index/index";
					});
				}else{
				    $(".verification img").attr("src",'/captcha.html?x='+Math.random());
                    layer.msg(e.msg, {time: 1500, icon:5,anim:1,shade: 0.4});
                    return false
				}
			})
            return false;
        });

    });
</script>