
<!--头部开始-->
<div class='header'>
	<div class='topmessage'>
		<div class='left_t'>
      <span>您好！ 欢迎来到
        <a href='ziben.abage.cn/home.do' style='color:#fff ;padding:0 2px'>领航豫商</a></span>
			<span>交易时间：
        <font id='start_time'>09:00</font>&nbsp;-&nbsp;
        <font id='end_time'>17:00</font></span>
			<span id='time'>
        <font>已闭市</font></span>
		</div>
		<div class='right_r'>
			<label>
				<a href='/'>
					<i>
						<img src='/public/home/images/ico1.png' width='15' height='15'></i>请登录</a>
			</label>|
			<label>
			<a href='ziben.abage.cn/register!setUserInfoUI.do'>免费注册</a></label>|
			<a href='ziben.abage.cn/home.do'>豫煤网首页</a>|
			<a href='ziben.abage.cn/login!showLogin.do'>会员中心</a>|
			<a href='ziben.abage.cn/siteImsNews!newsintro.do?code=20'>关于我们</a>
			<span>服务热线：17737173797</span></div>
	</div>
</div>
<!--头部结束-->
<!--logo和banner-->
<div class='top_logo'>
	<div class='logo'>
		<a href='ziben.abage.cn/home.do'></a>
	</div>
	<div class='phone'>
		<span>服务热线</span>
		<i>17737173797</i>
	</div>
</div>
<!--logo和banner结束-->
<!--nav开始-->
<div class='nav'>
	<dl>
		<dt>
			<a href="/">首页</a></dt>
		<dd style='position:relative;'>
			<a href='/index/index/purchase'>求购</a>
			<img style='position: absolute;top:-10px;right:0;width:37px;height:19px;border:none' src='/public/home/images/mt_nav_hot.png'></dd>
		<dd>
			<a href='zhaobiao.html'>招标</a></dd>
		<dd class='alert'>
			<a href='#'>合同</a></dd>
		<dd class='alert'>
			<a href='#'>结算</a></dd>
		<dd>
			<a href='jinrong.html'>金融</a></dd>
		<dd>
			<a href='wuliu.html'>物流</a></dd>
		<dd>
			<a href='huiyuan.html'>会员</a></dd>
		<dd>
			<a href='zixun.html'>资讯</a></dd>
	</dl>
</div>
<meta charset="utf-8">
<!--nav结束 -->